<?xml version="1.0" ?>
<robot name="MyRbt1">
    <webots>
        <device reference="ds0" type="DistanceSensor">
            <ros>
                <topicName>left_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
    
        <device reference="ds1" type="DistanceSensor">
            <ros>
                <topicName>right_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        
        <plugin type="sofar_assignment_pkg.robot_driver1.RobotDriver1"/>
    </webots>
</robot>
